{% extends "layout.html"%} {% block content%}

<h1>History</h1>

<div class="row">
    <div class="col-6">
        <h1>Disease</h1>
        {% for h in diseases %}
        Description {{h.desc}}
        Allergies {{h.allergy}}
        {% endfor %}

    </div>
    <div class="col-6">
        <h1>Medicine</h1>
        {% for m in medicines %}
        Name {{m.name}}
        <br>
        Dose {{m.dose}}
        <br>
        status : {{m.medicine}}
        <br> <br> <br> <br>
        <hr>
        {% endfor %}
    </div>
</div>


{% endblock%}