{% extends "layout.html" %}
{% block content %}

        <h1>Medicine</h1>
        <form class="" action="" method="post">
            <label >Name</label>
            <input type="text" name="name" id="name">

            <br>
            <label>Dose</label>
            <input type="text" value="" name="dose" id="dose">
            <br>


            <input type="radio" name="medicine" id="on-going" value="on-going"> On going </input>
            <input type="radio" name="medicine" id="past" value="past"> Past </input><br>
            <br>
            <input type="submit" value="add">
        </form>


{% endblock %}