{% extends "doc_layout.html"%} {% block content%}

<h1>Show</h1>


{% for i in myAppointments %} <b>{{i.id}}</b> .
<br> Dr {{ i.docName }}, {{i.createdby_name}} wants to book an appointment on
Date: {{i.date}} <br>
Time: {{i.time}} <br> Mode : {{i.mode}} <br>status {{i.status}}
<br>


<br>
<hr>


{% endfor %}


<!-- Modal -->


<h2>The end</h2>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


{% endblock%}