/* -----------------------------------------------------
General
-------------------------------------------------------*/
body{
color: #1864ab;
background-color:#f1f3f5;
font-size:20px;

}


.navbar{
margin-bottom:1%;
border-radius:0 !important;
}

li{
    font-size:20px;
}
nav {
  margin-top: 0px;
  padding: 24px;
  text-align: center;
  box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.5);

}

nav a {
  transition: 0.6s ease;
  color: white;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  padding: 20px 0;
  margin: 0 8px;
  font-size: 17px;
  opacity:0.9;
}
nav a:hover {
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  background:#343a40 !important;
  color:#f8f9fa !important;
  padding: 6px 0;
  opacity:1;
  transform: scale(1.04);

}
.content{
font-size:20px;
padding:2%;

}

/* User index */
.index{
background:#fff;
    border: 1px solid rgba(0, 0, 0, .1);
    border-color: rgba(0, 0, 0, .1);
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .1);
    padding:3%;

}
/* User index ends */

/* Appointments */
#appointment{
    display:inline-block;
	font:normal normal 90 1.2em 'Open Sans';
	text-decoration:none;
	color:rgba(28, 190, 131, 1);
	border:1px solid rgba(28, 190, 131, 1);
	border-radius:70px;
	padding: .3em 1.2em;
	margin:5px;
	background-size: 200% 100%;
	background-image: linear-gradient(to right, transparent 50%, rgba(28, 190, 131, 1) 50%);
	transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}

#appointment:hover{
	color:rgba(255, 255, 255, 1);
	background-color:rgba(28, 190, 131, 1);
	background-position: -100% 100%;
}

/* appointment ends */